<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Supybot WebStats</title>
        <link rel="stylesheet" media="screen" type="text/css" title="Design" href="/default.css" />
        <link rel="stylesheet" media="screen" type="text/css" title="Design" href="/webstats/design.css" />
    </head>
    <body >
<h1>Stats about %(channel)s channel</h1>

<p><a href="/webstats/nicks/%(escaped_channel)s/">View nick-by-nick stats</a></p>
<p><a href="/webstats/links/%(escaped_channel)s/">View links</a></p>

<p>There were %(quick_stats)s</p>

%(table)s
        <p id="footer">
            <a href="https://github.com/ProgVal/Limnoria">Limnoria</a> and
            <a href="https://github.com/ProgVal/Supybot-plugins/tree/master/WebStats/">WebStats</a> powered.<br />
            Libre software available under BSD licence.<br />
            Page generated at %(date)s.
        </p>
    </body>
</html>
